dj-database-url==0.4.1
Django==1.9.7
psycopg2==2.6.2
appdirs==1.4.3
gunicorn==19.7.1
packaging==16.8
pyparsing==2.2.0
six==1.10.0
whitenoise==3.3.0
requests==2.9.1
bokeh==0.12.13
twitter==1.18.0
textblob==0.15.0
matplotlib==2.1.1
mpld3==0.3
numpy==1.13.3
pandas==0.21.1
Pillow==4.3.0
Flask==0.12.2
wordcloud==1.3.1
pyquery==1.3.0
urllib3==1.22
nltk==3.2.5
ediblepickle==1.1.3
spacy==2.0.5
sqlalchemy==1.2.1
sklearn==0.0