.background {
    background-image: url("/static/images/TwitterPrompt.png");
    background-repeat: no-repeat, repeat;
}

.examples {
    background-color: white;
    color: black;
}

body {
    background-color: black;
    color: white;
}

/* Input */
.panel {
    margin-top: 95px;
    margin-bottom: 20px;
    max-width: 50%
}

.input-group-margin {
    margin-bottom: 4px;
}

.input-hidden {
    visibility: hidden;
}

#search {
	padding-bottom: 20px;
}

.fa-color-blue {
	color: #00aced;
}

/* Results */
.results {
    background-color: black;
    color: white;
    max-width: 50%
}

.results2 {
    background-color: black;
    color: white;

}

.h3-margins {
    margin-bottom: 0px !important;
}

h3 {
    margin-bottom: 40px;
}

/* Side bar */
#sidebar-wrapper {
    padding: 0px;
}

#sidebar {
    min-height: 100vh;
    height: 100%;
    background: #7386D5;
    color: #fff;
    margins: 0px;
    position: fixed;
    display: block;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #6d7fcc;
    color: white;
}

#sidebar .sidebar-header a {
    color: white;
}

#sidebar ul.components {
    padding: 0px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/* Overrides */

.container {
	margin: 0px !important;
	padding: 0px !important;
	width: 100% !important;
}

g.mpld3-xaxis, g.mpld3-yaxis {
    display: none;
}

svg {
  display:inline-block;
  /* margin-left:30px;*/
  margin-left:0px;
  margin-right:0px;
  padding-left:0px;
  padding-right:0px;
}

.bk-plot-layout {
    margin: 0 auto !important;
}