<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Get The Words Out</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css"/>
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <link rel="shortcut icon" href="">
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div id="sidebar-wrapper" class="col-sm-2">
            <!-- Use jQuery script below to load header.html here -->
            <div id="header"></div>
        </div>
        <div class="col-sm-10 text-center">
            <center>
                <div class="panel panel-default panel-about">
                    <div class="panel-heading">About me</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="/static/images/face.jpg" style="max-width: 200px; max-height: 200px; width: auto; height: auto;"/>
                            </div>
                            <div class="col-sm-8">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                                like Aldus
                                PageMaker including versions of Lorem Ipsum
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">TDI 2018</div>
                </div>
            </center>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

<!-- jQuery script to load header.html into div id="header" by calling REST URL /header -->
<script>
	$("#header").load("/static/header.html");




</script>
</html>
