<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Get The Words Out</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css"/>
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <link rel="shortcut icon" href="">
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div id="sidebar-wrapper" class="col-sm-2">
            <!-- Use jQuery script below to load header.html here -->
            <div id="header"></div>
        </div>
        <div class="col-sm-10 text-center">
            <center>
                <div class="panel panel-default panel-about">
                    <div class="panel-heading"><strong>Hello World, I am Claudia (Kaye) Wu</strong></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="/static/images/face.jpg" style="max-width: 200px; max-height: 200px; width: auto; height: auto;"/>
                            </div>
                            <div class="col-sm-9">
                                <p align="left">
                                I did my undergrad in Applied Mathematics with emphasis in Computer Science at UC Berkeley (go bears!), and went to graduate school for Neurobiology at UC Irvine (zot zot zot). In addition to academic research, I also worked 6 years as Managerial Consultant and Data Consultant for Kaiser Permanente (thrive!).
                                </br></br>I am fascinated with the process of deriving insights from data, from Data Science and Machine Learning, to the Neurobiology of learning and memory.
                                </br></br>In my free time, I like to travel, explore different food, play volleyball, volunteer, and serve my two cats.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">email: <a href="mailto:ucbclaudia@gmail.com"><strong>ucbclaudia@gmail.com</strong></a></div>
                </div>
            </center>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

<!-- jQuery script to load header.html into div id="header" by calling REST URL /header -->
<script>
	$("#header").load("/static/header.html");




</script>
</html>
