<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Get The Words Out</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css"/>
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <link rel="shortcut icon" href="">
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div id="sidebar-wrapper" class="col-sm-2">
            <!-- Use jQuery script below to load header.html here -->
            <div id="header"></div>
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default center-block">
                <div class="panel-heading">Search Twitter (by username, search term, or both)</div>
                <div class="panel-body">
                    <form action="/search" method="POST">
                        <div class="input-group input-group-margin">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type="text" id="tw_user" name="tw_user" placeholder="Twitter Username" value="ABCSharkTank">
                        </div>
                        <div class="input-group input-group-margin">
                            <span class="input-group-addon"><i class="fa fa-twitter fa-color-blue"></i></span>
                            <input class="form-control" type="text" id="search_phrase" name="search_phrase" placeholder="Search Term" value="startups">
                        </div>

                        <button type="button" class="btn btn-primary btn-sm">Submit</button>
                    </form>
                </div>
            </div>
            <div id="legend" class="row">
                <div class="col-sm-12">
                    <div class="well well-sm center-block legend">
                        <center>
                            Keyword Sentiments<br/>
                            <span><i class="glyphicon glyphicon-stop" style="color: #004c99"></i> Positive</span>
                            <span><i class="glyphicon glyphicon-stop" style="color: #800080"></i> Neutral</span>
                            <span><i class="glyphicon glyphicon-stop" style="color: #ff0000"></i> Negative</span>
                        </center>
                    </div>
                </div>
            </div>
            <div id="wait" class="row">
                <div class="col-sm-12">
                    <center>
                        Asking the little birds...
                        <div class="progress center-block legend">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="center-block d-inline-block text-center">
                        <!-- No longer using jinja2 template engine, now referenced by id for ajax -->
                        <h3 id="userLabel1" class="h3-margins"></h3>
                        <div id="userCloud1"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="center-block d-inline-block text-center">
                        <h3 id="userLabel2" class="h3-margins"></h3>
                        <div id="userCloud2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

<!-- jQuery script to load header.html into div id="header" by calling REST URL /header -->
<script>
  $('#legend').hide();
  $('#wait').hide();

  // Using jQuery to load side bar
  $("#header").load("/static/header.html");

  // Remove spacing for word cloud graph
  $(window).on("load", function() {
    $("g.mpld3-baseaxes").removeAttr("transform");
  })

    $('#tw_user').keypress(function (e) {
     var key = e.which;
     if(key == 13)  // the enter key code
      {
        $('button').click();
        return false;
      }
    });

    $('#search_phrase').keypress(function (e) {
     var key = e.which;
     if(key == 13)  // the enter key code
      {
        $('button').click();
        return false;
      }
    });

  // Source Reference: https://codehandbook.org/python-flask-jquery-ajax-post/
  // After page load, use jQuery for AJAX (Asynchronous call)
  $(function() {
    // Button event for <button> tag
    $('button').click(function() {
        if ($('#tw_user').val().length == 0 && $('#search_phrase').val().length == 0) { return; }

        $('#wait').show();
        $('#legend').hide();
        $.ajax({
            url: '/searchIdeas',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                $('#wait').hide();
                $('#legend').show();

                // Clear out results
                $('#userLabel1').html('');
                $('#userCloud1').html('');
                $('#userLabel2').html('');
                $('#userCloud2').html('');

                var json = JSON.parse(response);
                if (json['userCloud1'] != '') {
                  $('#userLabel1').html(json['userLabel1']);
                  $('#userCloud1').html(json['userCloud1']);
                }
                if (json['userCloud2'] != '') {
                    $('#userLabel2').html(json['userLabel2']);
                    $('#userCloud2').html(json['userCloud2']);
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
  });
</script>
</html>
