<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Get The Words Out</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css"/>
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <link rel="shortcut icon" href="">
</head>

<body class="background">

<div class="container-fluid">
    <div class="row">
        <div id="sidebar-wrapper" class="col-sm-2">
            <!-- Use jQuery script below to load header.html here -->
            <div id="header"></div>
        </div>
        <!--div class="col-sm-10">
            <div class="panel panel-default center-block">
                <div class="panel-heading">Hi</div>
                <div class="panel-body">
                    <div class="container">
                        <div class="animate one">
                            <span>G</span><span>e</span><span>t</span>&nbsp;<span>T</span><span>h</span><span>e</span>&nbsp;<span>W</span><span>o</span><span>r</span><span>d</span><span>s</span>&nbsp;<span>O</span><span>u</span><span>t</span>
                        </div>
                    </div>
                </div>
            </div>
        </div-->

        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

<!-- jQuery script to load header.html into div id="header" by calling REST URL /header -->
<script>
  $("#header").load("/static/header.html");

  // Remove spacing for word cloud graph
  $(window).on("load", function() {
    $("g.mpld3-baseaxes").removeAttr("transform");
  })









</script>
</html>
