<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Get The Words Out</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css"/>
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <link rel="shortcut icon" href="">
</head>

<body>
<!-- Use jQuery script below to load header.html here -->
<div id="header"></div>

<div id="background">
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1><strong>Let's Get the Words Out</strong></h1>
                <br/><br/><br/><br/>
                <h2>Get Ideas</h2>
                <br/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <form action="/search" method="POST">
                    <div class="row" id="search">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3 text-center">
                            <i class="fa fa-user fa-2x fa-color-blue" aria-hidden="true"></i>
                            <h3>Twitter Username</h3>
                            <!-- Get text submitted in the User Search and pass it to REST URL /user_search -->
                            <input type="text" name="tw_user" value="michelleobama">
                        </div>
                        <div class="col-sm-3 text-center">
                            <i class="fa fa-twitter fa-2x fa-color-blue" aria-hidden="true"></i>
                            <h3>Search Twitter</h3>
                            <!-- Get text submitted in the Twitter Search and pass it to REST URL /tw_search -->
                            <input type="text" name="search_phrase" value="climate">
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <input type="submit">
                        </div>
                    </div>
                </form>
                <br/><br/><br/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5 text-center">
                <h3 class="h3-margins">{{ Uvalue }}</h3>
                {{ Uscript|safe }}
            </div>
            <div class="col-sm-5 text-center">
                <h3 class="h3-margins">{{ Svalue }}</h3>
                {{ Sscript|safe }}
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <br/>
                <h2>Predict Retweets</h2>
                <br/>
            </div>
        </div>

        <div class="row" id="search">
            <div class="col-sm-12 text-center">
                <i class="fa fa-retweet fa-2x fa-color-blue" aria-hidden="true"></i>
                <h3>Your New Tweet</h3>
                <!-- Get text submitted for retweet prediction and pass it to REST URL /retweet_predict -->
                <form action="/predict" method="POST">
                    <input type="text" name="rt_predict" size="140">
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <!-- curly braces are Jinja, not Django, Django is like Flask -->
            <h3>{{ Pvalue }}</h3>
            <strong>{{ Pscript }}</strong>
        </div>
    </div>
</div>
</div>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

<!-- jQuery script to load header.html into div id="header" by calling REST URL /header -->
<script>
  $("#header").load("/static/header.html");



















</script>
</html>
