<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Get The Words Out</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <link rel="shortcut icon" href="">
</head>

<body>
<!-- Use jQuery script below to load header.html here -->
<div id="header"></div>

<div class="container">

    <div class="row" id="main">
        <section id="background">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1><strong>Let's Get the Words Out</strong></h1>
                    <br />
                </div>
            </div>
            <div class="row" id="search">
                <div class="col-lg-6 text-center">
                    <div class="row">
                        <i class="fa fa-user fa-2x fa-color-blue" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <h3>User Search</h3>
                    </div>
                    <div class="row">
                        <!-- Get text submitted in the User Search and pass it to REST URL /user_search -->
                        <form action="/user_search" method="POST">
                            <input type="text" name="tw_user">
                            <input type="submit">
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="row">
                        <i class="fa fa-twitter fa-2x fa-color-blue" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <h3>Twitter Search</h3>
                    </div>
                    <div class="row">
                        <!-- Get text submitted in the Twitter Search and pass it to REST URL /tw_search -->
                        <form action="/tw_search" method="POST">
                            <input type="text" name="search_phrase">
                            <input type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
    <section>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3><strong>{{ value }}</strong></h3>
                    {{ script|safe }}
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

<!-- jQuery script to load header.html into div id="header" by calling REST URL /header -->
<script>
  $("#header").load("/static/header.html");
</script>
</html>
